body {
	margin: 0;
	padding: 0;
	min-width: 1200px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: #000000;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}
/* == общие стили для кнопки == */ /*start*/
.button {
	display: block;
  	width: 240px;
  	padding: 15px 0;

  	font-size: 16px;
  	line-height: 18px;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-align: center;
  	text-decoration: none;
  	font-weight: 400;

  	background-color: #fb565a;
  	border-radius: 3px;
  	border: none;
  	color: #ffffff;	
}
.button:hover,
.button:focus {
	background-color: #e74246;
}
.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0	3px 0 rgba(0, 0, 0, 0.1);
}
/* == общие стили для кнопки == */ /*end*/
/* == общая центровка == */ /*start*/
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
/* == общая центровка == */ /*end*/
/* == шапка == */ /*start*/
.main-header {
	line-height: 1.875;
	font-weight: 700;
	color: #000000;
	
	background-color: #eeeeee;
}
.main-navigation {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	padding-top: 35px;
}
.main-navigation-logo {
	height: 65px;
	width: 160px;
	padding-top: 10px;
}
.site-navigation,
.user-navigation {
	list-style: none;
	text-transform: uppercase;
}
.site-navigation a,
.user-navigation a {
	color: #000000;
}
.site-navigation {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 620px;	
	flex-wrap: wrap;
	padding-top: 27px;
}
.site-navigation li {
	padding-right: 48px;
}
.site-navigation li:last-child {
	padding-right: 0;
}
.user-navigation {
	display: flex;
	max-width: 160px;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;	
	flex-wrap: wrap;
	padding-top: 27px;
	margin-left: 37px;
}
.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
	color: #fb565a;
}
.site-navigation a[href]:active, 
.user-navigation a[href]:active {
	color: rgba(0, 0, 0, 0.3);
}
.site-navigation a {
	position: relative;
  	display: inline-block;
  	outline: none;
  	vertical-align: middle;
}
/*декоративный элемент для активного раздела*/
.active a::after {
	position: absolute;
  	top: 110%;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	background-color: #fb565a;
  	content: "";
  	transition: opacity 0.3s, transform 0.3s;
}
.main-navigation-logo:focus img,
.main-navigation-logo:hover img {
	opacity: 0.8;
}
.main-navigation-logo:active img {
	opacity: 0.3;
}
.user-navigation .basket {
	position: relative;
	padding-left: 45px;
}
.basket::before {
	content: "";

	position: absolute;
	top: 2px;
	left: 2px;

	width: 15px;
	height: 15px;

	background-image: url("../img/icons/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
/* == шапка == */ /*end*/
/* == слайды == */ /*start*/
.main-intro {
  	position: relative;
  	background-color: #eeeeee;
}
.intro-controls {
  	position: absolute;
  	left: 50%;
  	bottom: 104px;
  	z-index: 100;
  
  	width: 160px;
  	height: 18px;

  	text-align: center;
  	font-size: 0;
  	transform: translateX(-50%);
}
.intro-controls label {
  	position: relative;
  
  	display: inline-block;
  	width: 18px;
  	height: 18px;
  	padding: 8px;
  	vertical-align: middle;
  	border-radius: 50%;
  	cursor: pointer;
}
.intro-controls label::after {
  	content: "";
  
  	position: absolute;
  	top: 8px;
  	left: 8px;
  	z-index: 1;
  
  	width: 18px;
  	height: 18px;
  
  	background: #ffffff;
  
  	border-radius: 50%;
}
.intro-list {
  	margin: 0;
  	padding: 0;
  
  	list-style: none;
}
.intro-item {
  	display: none;
  	padding: 78px 0 80px 0;
}
.intro-item:nth-child(1) {
	background-image: url("../img/slide1.png");
  	background-repeat: no-repeat;
  	background-position: 93% 18px;
}
.intro-item:nth-child(2) {
  	background-image: url("../img/slide2.png");
  	background-repeat: no-repeat;
  	background-position: 100% 0;
}
.intro-item:nth-child(3) {
  	background-image: url("../img/slide3.png");
  	background-repeat: no-repeat;
  	background-position: 100% 20px;
}
#product-1:checked ~ .intro-list .intro-item:nth-child(1) {
  	display: block;
}
#product-2:checked ~ .intro-list .intro-item:nth-child(2) {
  	display: block;
}

#product-3:checked ~ .intro-list .intro-item:nth-child(3) {
  	display: block;
}

#product-1:checked ~ .intro-controls .intro-controls-item--1::before,
#product-2:checked ~ .intro-controls .intro-controls-item--2::before,
#product-3:checked ~ .intro-controls .intro-controls-item--3::before {
  	content: "";
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 2;
  	width: 4px;
  	height: 4px;
  	margin: -4px;
  	background-color: inherit;
  	border: 2px solid #c1c1c1;
  	border-radius: 50%;
}
.intro-item h3 {
	max-width: 600px;
  	margin: 0;
  	margin-bottom: 27px;

  	font-size: 55px;
  	line-height: 1;
  	font-weight: 500;
}
.intro-item p {
	font-weight: 400;
  	max-width: 430px;
  	margin: 0;
  	margin-bottom: 40px;
}
.intro {
	display: flex;
	justify-content: center;
	text-align: center;
}
.header-title {
	font-size: 55px;
	line-height: 1;
	padding-top: 41px;
	padding-bottom: 70px;
	font-weight: 500;
}
/* == слайды == */ /*end*/
/* == перечень услуг == */ /*start*/
.catalog-item {
	text-align: left;
	width: 300px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 100px;
}
.catalog-item h3 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 1.25;
	text-transform: uppercase;
	margin-top: 25px;
}
.catalog-list {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: left;
	flex-wrap: wrap;
	border-bottom: 2px solid #eeeeee;
	padding-top: 40px;
	padding-bottom: 40px;
}
.catalog-item:last-child {
	margin-right: 0;
}
.catalog-item .button {
	width: 160px;
	margin-top: 32px;
}
.catalog-item-image {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	height: 146px;
	background-color: #fb565a;
}
.catalog-item:nth-child(2) .catalog-item-image {
	background-color: #00ca74;
}
.catalog-item:nth-child(3) .catalog-item-image {
	background-color: #efc849;
}
.catalog-button-second {
	background-color: #00ca74;
}
.catalog-button-second:hover,
.catalog-button-second:focus {
	background-color: #00bc6c;
}
.catalog-button-second:active {
	background-color: #00aa62; 
	color: rgba(255, 255, 255, 0.3);
}
.catalog-button-third {
	background-color: #efc84a;
}
.catalog-button-third:hover,
.catalog-button-third:focus {
	background-color: #eab534;
}
.catalog-button-third:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}
/* == перечень услуг == */ /*end*/
/* == о компании == */ /*start*/
.about-company {
	display: flex;
	justify-content: space-between;	
}
.about-company-description {
	width: 660px;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 56px;
}
.about-company-description h3 {	
	font-size: 45px;
	line-height: 1;
	margin-bottom: 34px;
}
.about-company-list {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 38px;
}
.about-company-description li {
	list-style: none;
	position: relative;
	margin-top: 24px;
}
.about-company-description li::before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	position: absolute;
	bottom: 50%;
	left: -38px;
}
.about-company-innumbers {
	width: 360px;
	padding-top: 40px;
}
.about-company-innumbers caption {
	margin-top: 30px;
	margin-bottom: 27px;
}
.company-statistics {
	font-size: 45px;
	font-weight: bold;
	width: 120px;
}
.company-statistics sup {
	font-size: 28px;
}
/* == о компании == */ /*end*/
/* == клиенты == */ /*start*/
.customers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;	
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 75px;
}
.customers-item img {
	opacity: 0.2;
}
.customers-item:hover img,
.customers-item:focus img {
	opacity: 1;
}
.customers-item:active img {
	opacity: 0.1;
}
/* == клиенты == */ /*end*/
/* == карта == */ /*start*/
.map {
	min-height: 418px;
	margin: 0 auto;
	padding: 0 0;
	box-sizing: border-box;
	background-color: #eeeeee;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.map .container {
	position: relative;
}
.map h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.map p {
	font-size: 16px;
	line-height: 18px;
	margin-top: 22px;
}
.map .button {
	width: 220px;
	margin-top: 35px;
}
.contacts {
	width: 220px;
	position: absolute;
	background-color: #ffffff;
	top: 54px;
	padding: 30px 50px 45px 50px;	
}
.contacts-tel {
	color: #000000;
}
.contacts-tel:hover, 
.contacts-tel:focus {
	color: #fb565a;
}
.contacts-tel:active {
	color: #000000;
	opacity: 0.3;
}


.map-marker {
	position: absolute;
	top: 85px;
	left: 700px;
}
/* == карта == */ /*end*/
/* == подвал == */ /*start*/
.main-footer {
	display: flex;
	justify-content: flex-start;
	color: #444444;
	background-color: #ffffff;
}
.footer-social {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 260px;
	margin-right: 20px;
}
.footer-social li {
	list-style: none;
}
.social-button {
	display: flex;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	align-items: center;
  	justify-content: center;
	border-radius: 50%;
}
.footer-sale {
	width: 760px;
	vertical-align: center;
	padding-top: 73px;
	padding-bottom: 70px;	
	margin-left: 120px;
}
.footer-sale b {
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
	color: #000000;
}
.footer-sale p {
	padding: 0;
	margin: 0;
	margin-top: 8px;
}
.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}
.social-button:active {
	background-color: rgba(215, 55, 59);
	box-shadow: inset 0	3px 0 rgba(0, 0, 0, 0.1);
}
.social-button:active svg {
	opacity: 0.3;
}
/* == подвал == */ /*end*/
/* === modal === */ /*start*/
.modal {
	position: fixed;
	background-color: #ffffff;
	z-index: 100;
	display: none;
}
.modal-show {
	display: block;
}
.modal-letter {
	top: 5px;
	left: 50%;
	margin-left: -480px;
}
.modal-close {
	position: absolute;
  	top: 80px;
  	right: 95px;
	width: 21px;
  	height: 21px;
  	font-size: 0;
  	border: 0;
  	background-color: transparent;
  	cursor: pointer;
}
.modal-close::before {
  	content: "";
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 21px;
 	height: 21px;
 	background-image: url("../img/icons/close-cross.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}
.modal-close:hover::before,
.modal-close:focus::before {
	opacity: 1;
}
.modal-close:active::before {
	opacity: 0.1;
}
.modal.container {
	width: 960px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}
.modal-form {
	display: flex;
	flex-wrap: wrap;
	padding-left: 80px;
	padding-right: 80px;
}
.modal-item {
	width: 360px;
	margin-top: 40px;	
}
.modal-item:first-child {
	margin-right: 40px;
}
.modal-item-letter {
	width: 760px;
	margin-top: 18px;
	margin-bottom: 40px;
}
.modal-item input {
	width: 100%;
	box-sizing: border-box;
}
.modal-item label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
  	display: block;
  	margin-bottom: 9px;
}
.modal h2 {
	margin: 0;
	padding: 0;
	font-size: 45px;
	color: #000000;
	line-height: 45px;
	padding-left: 80px;
	padding-top: 70px;
}
.modal input,
.modal textarea {
	font: inherit;
	background-color: transparent;
	border: 2px solid #d7dcde;
	box-sizing: border-box;
	padding: 12px 15px 11px 13px;
}
.modal-item textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 15px 11px 12px;
}
.modal input:hover,
.modal textarea:hover { 
	border-color: #b4b9bb;
}
.modal input:focus,
.modal textarea:focus {
	border-color: #000000;
	outline: none;	
}
.modal input:invalid,
.modal textarea:invalid {
	border-color: #e74246;
	color: #e74246;
}
.modal .button {
	min-width: 260px;
	margin-bottom: 85px;
}
/* === modal === */ /*end*/
/* === фильтры === */ /*start*/
.filters {
	width: 260px;
}
.filters form {
	padding-top: 59px;
}
.filter-item {
  	margin: 0;
  	padding: 0;
  
  	border: none;
}
.range-filter {
  	width: 260px;
  	margin-top: 49px;
}
.filter-item legend {

	margin: 0;
	padding: 0;
  	font-size: 18px;
  	line-height: 24px;
  	text-transform: uppercase;
  	font-weight: 700;
}
.filter-item:nth-child(2) legend {
	margin-bottom: 10px;
}
.filter-item:nth-child(3) legend {
	margin-bottom: 10px;
}
.range-controls {
	position: relative;

  	height: 41px;
  	margin-bottom: 15px;
  	padding-top: 40px;
  	padding-right: 20px;
  	padding-left: 20px;
  	background-color: #f1f1f1;
  
  	border-radius: 5px;
}
.range-controls .scale {
  	height: 2px;

  	background: #d7dcde;
}
.range-controls .bar {
  	width: 70%;
  	height: 2px;

  	background: #00ca74;
}
.range-controls .toggle {
	position: absolute;
  	top: 31px;
  	left: 0;
  	width: 4px;
  	height: 4px;
  	padding: 0;

  	border: 8px solid #ffffff;
  	background-color: #ababab;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
  	border-radius: 50%;
  	cursor: pointer;
}
.range-controls .toggle-min {
  	left: 18px;
}
.range-controls .toggle-max {
  	left: 160px;
}
.price-controls {
  	font-size: 0;
}
.price-controls label {
  	display: inline-block;
  	width: 50%;

  	font-size: 16px;
  	text-transform: uppercase;
  	vertical-align: center;
}
.price-controls input {
	width: 60px;
  	padding: 10px 10px;
  	margin-left: 10px;

  	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	text-align: center;
  	color: #283136;

  	border: none;
  	border-radius: 5px;
  	background: #f1f1f1;
}
.max-price {
  	text-align: right;
}
.filter-item:nth-child(2) {
	margin-top: 56px;
}
.filter-item:nth-child(3) {
	margin-top: 27px;
}
.filters ul {
	padding: 0;
  	margin: 0;
	font-size: 16px;
	line-height: 1.25;
	list-style: none;
	color: #283136;
}
.filters-list li {
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 36px;
}
.filter-option label {
	font-size: 16px;
	line-height: 20px;
	position: relative;
	display: block;

  	cursor: pointer;
  	user-select: none;
}
.filter-input-radio + label::before {
	content: "";
	position: absolute;
	height: 17px;
	width: 17px;
	border: 4px solid #4d4d4d;
	opacity: 0.4;
	top: -3px;
	left: -36px;
	border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  	content: "";
  	position: absolute;
  	width: 9px;
  	height: 9px;
  	top: 5px;
	left: -28px;
   	background-color: #4d4d4d;
   	opacity: 0.4;
   	border-radius: 50%;
}
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
   	opacity: 1;
}
.filter-input-radio:disabled + label::before {
	opacity: 0.1;
}
.filter-input-radio:disabled + label {
	opacity: 0.3;
}
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
   	opacity: 1;
}
.filter-input-radio:disabled + label::after {
	opacity: 0.1;
}
.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -36px;
	height: 23px;
	width: 26px;
	background-image: url("../img/icons/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}
.filter-input-checkbox:checked + label::before {
	content: "";
	position: absolute;
	height: 23px;
	width: 26px;
	background-image: url("../img/icons/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
	opacity: 1;
}
.filter-input-checkbox:disabled + label::before {
	opacity: 0.1;
}
.filter-input-checkbox:disabled + label {
	opacity: 0.3;
}
.filters-button {
	background-color: #eeeeee;
	color: #000000;
	width: 260px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	margin-top: 30px;
}
.filters-button:hover,
.filters-button:focus {
	background-color: #dfdfdf;
}
.filters-button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}
/* === фильтры === */ /*end*/
/* === товары === */ /*start*/
.catalog-columns {
	display: flex;
	justify-content: space-between;
}
.sorting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sorting-title {
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	width: 360px;
	margin-top: 59px;
	margin-bottom: 52px;
}
.sorting-list {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	margin-top: 57px;
	margin-bottom: 52px;
}
.sorting-list-icons {
	position: relative;
}
.sorting-list-item {
	position: absolute;
	opacity: 0.2;
}
.sorting-list-bottom {
	right: 30px;
	bottom: 52px;
}
.sorting-list-top {
	right: 0;
	bottom: 52px;
}

.sorting-list-item:hover,
.sorting-list-item:focus {
	opacity: 0.6;
}
.sorting-list-item:active {
	opacity: 1;
}
.sorting-list li {
	margin-right: 28px;
	list-style: none;
}
.sorting-list a {	
	margin: 0;
	padding: 0;	
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
	text-decoration: none;
}
.sorting-list .sorting-active {
	color: #000000;
	opacity: 1;
}
.sorting-list a:focus, 
.sorting-list a:hover {
	opacity: 0.6;
}
.sorting-list a:active {
	opacity: 1;
}
.catalog-product {
	width: 760px;
	padding-bottom: 50px;
}
.catalog-product-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.catalog-product-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-product-item {
	display: block;
	position: relative;
	text-align: left;
	padding: 0;
	margin: 0;
	border: 0;
	width: 360px;
	margin-bottom: 27px;
	margin-right: 40px;
}
.catalog-product-item::before {
	content: "";
	display: block;
	height: 40px;
	background-color: #e9e9e9;
	border-radius: 5px 5px 0 0;
}
.catalog-product-item::after {
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 50%;
	top: 13px;
	left: 16px;
	box-shadow: 25px 0 0 0 #ffffff,
				50px 0 0 0 #ffffff;
}
.catalog-product-item:focus::before,
.catalog-product-item:hover::before {
	background-color: #4d4d4d;
}
.catalog-product-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	bottom: 7px;
	background-color: #eeeeee;
	z-index: -1;
	margin: 0;
	padding: 0;
	vertical-align: center;
}
.catalog-product-info-title {
	margin-top: 25px;
	margin-bottom: 0;
	margin-left: 60px;
	margin-right: 60px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}
.catalog-product-info-title:hover, 
.catalog-product-info-title:focus {
	color: #fb565a;
}
.catalog-product-info-title:active {
	color: #000000;
	opacity: 0.3;
}
.catalog-product-info p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 30px;
	text-align: center;
}
.catalog-product-info .button {
	width: 200px;
	margin-bottom: 43px;
}
.catalog-product-item:hover .catalog-product-info,
.catalog-product-item:focus .catalog-product-info  {
	z-index: 5;
}	
/* === товары === */ /*end*/
/* === нумерация === */ /*start*/
.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 39px;
	margin-bottom: 22px;
	list-style: none;
}
.pagination-list li {
	list-style: none;
}
.pagination-button:last-child a {
	padding-left: 80px;
	padding-right: 80px;
}
.pagination-button a {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	padding: 15px 20px;
	margin-right: 10px;
	border-radius: 3px;
}
.pagination-button a:hover,
.pagination-button a:focus {
	background-color: #dfdfdf;
}
.pagination-button a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0	3px 0 rgba(0, 0, 0, 0.1);
}
.pagination-active a {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	padding: 12px 18px;
	margin-right: 12px;
	border-radius: 3px;
}